body {
    height: 100vh;
    margin: 0px;
    display: flex;
}

.ui {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.userSelections .rock:hover,
.userSelections .paper:hover,
.userSelections .scissors:hover {
    transform: scale(1.5);
}

.userSelections,
.cpuSelections {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 0;
}

.rock.selected,
.paper.selected,
.scissors.selected {
    transform: scale(1.65);
}

.scores {
    margin: 10%;
}

.announcement, .playerSelection, .cpuSelection, .playAgain {
    visibility: hidden;
}

.announcement.selected, .playerSelection.selected, .cpuSelection.selected, .playAgain.selected {
    visibility: visible;
}

h1,
h2 {
    display: flex;
    justify-content: center;
}

.playAgain {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}